html, body, #root {
  height: 100%;
  margin: 0;
}

.app-center {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
  color: white;

  text-align: center;
}

.card {
  background: #222;
  border-radius: 10px;
}
